@charset "UTF-8";
body {
  	margin: 0;
    color: rgb(55, 84, 55);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*color y font distinto al forms*/
}

table{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

table td img{
	width:400px;
	height:auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 84, 55);
    padding: 20px 20px;
  }
  
  .header a {
    
    color: rgb(245, 240, 230);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a:hover {
    background-color: rgb(245, 240, 230);
    color: black;
  }

  .header-derecha {
    display: flex;
  }
  
  header a img {
    width: 200px;
    height: auto;
  }
/* Formato del logo en el banner*/
.logo{
	height:100px;
	width: auto;
}

/* Formato de imagenes en el banner*/
.bannerimg{
	height:40px;
	width: auto;
}

.centrado{
	text-align:center;
}
.img {
	width:auto;
	height:200px;
}

.contactos{
	margin-left:auto;
	margin-right:auto;
	margin-top:150px;
	margin-bottom:150px;
	width: 70%;
}

/* Estilos para barra de navegacion*/
footer {
    display:flex;  
    flex-direction: column;
    background-color: rgb(245, 240, 230);
    color: black;
    
    padding: 20px 0;
}
.divf {
    display:flex;  
    align-items: center;
    
}

nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

nav p {
    font-size: 14px;
    margin-bottom: 10px;
}
/* iconos de redes */
nav img {
    
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

a {
    color: rgb(65, 52, 45);
    text-decoration: none;
}

p {
    text-align: center;
}